@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Poppins:wght@400;600&display=swap');

/* 

*/


*,
*::before
*::after {
    box-sizing: border-box;         /* Regular */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
}

::-webkit-scrollbar {
      width: 0px;
      background: transparent;
}

h1, h2, h3, h4, h5, h6, p {
    margin:0;
    padding:0;
}

a {
    text-decoration: none;
    color: #ffffff;
}

body {
    background-color: #141414;
    margin: 0;
    padding: 0;
}

.logo {
    height: 40px;
}

/* Link */

.link__inner {
    display: flex;
    color: #ffffff;
}

.link-box {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.link-number {
    color: #acacac;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
}

/* Intro */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background: url(../assets/pc-image.png) center no-repeat;
    background-size: 75vh;
}

.text__inner {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    line-height: 6.5em;
}   

.intro-title {
    font-size: 26vh;
}

.top-title {
    color: #ffffff;
}

.bottom-title {
    position: relative;
    font-family: 'Poppins', sans-serif;
    color: transparent;
    -webkit-text-stroke: 2px #ffffff; 
}

.bottom-title::before {
    position: absolute;
    right: -50px;
    top: -80px;

    display: block;
    content: "";
    background: url(../assets/star-shape.svg) center no-repeat;
    height: 100px;
    width: 100px;
}


.intro-subtitle {
    position: relative;
    color: #5A5A5A;
    font-size: 2em;
}

.intro-subtitle::after {
    position: absolute;
    top: 50%;
    left: 18%;

    display: block;
    content: '';
    height: 2px;
    width: 100px;

    background: rgb(90,90,90);
    background: linear-gradient(90deg, rgba(90,90,90,1) 2%, rgba(101,101,101,0.8099614845938375) 56%, rgba(255,255,255,0) 100%);
}

/* Bottom - Header */

.bottom-header {
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
}

.bh-item {
    display: flex;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    
}

.item-title {
    font-size: 1.2em;
}

.item-subtitle {
    color: #686868;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9em;

}

.scroll-title {
    color: #686868;
    font-weight: 500;
}

.scroll-item {
    display: flex;
    flex-direction: column;
}

.icon {
    height: 10px;
}

.volcano-icon {
    height: inherit;
}

.status-title {
    position: relative;
}

.status-title::after {
    top: 30%;
    right: 0;
    border-radius: 100%;
    position: absolute;
    display: block;
    content: '';
    height: 10px;
    width: 10px;
    background-color: #35bd35;
}